
/* About Section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: none;
}

#about:hover {
    animation: gentleWobble 1.5s infinite ease-in-out;
}

@keyframes gentleWobble {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#about a {
    text-decoration: none;
    color: inherit;
}

#self_intro_txt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    padding: 40px;
    background: linear-gradient(180deg, #215c7a, #111b34);
    border-radius: 15px;
    max-width: 1000px;
    gap: 30px;
    /* border: solid 3px rgb(123, 123, 123); */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
    border: solid 1px rgb(161, 161, 161);

    /* Ühtne transition kõigi efektide jaoks */
    transition: transform 0.4s ease-in-out, background 0.8s ease-in-out, border 0.4s ease-in-out;
}

#self_intro_txt:hover {
    background: linear-gradient(180deg, #215c7a, #111b3445);
    transform: scale(1.02);
    border: solid 3px rgb(123, 123, 123);
}


#self_intro_txt .text-container {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

#self_intro_txt h2 {
    margin: 0 0 20px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

#self_intro_txt p {
    margin: 0;
    line-height: 1.8;
    font-size: 20px;
    color: #e0e0e0;
}

/* Profile Image */
#pilt {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#pilt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* About Myself Section */
#about_myself {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    background: linear-gradient(180deg, #0d587e, #201e1e);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
    margin: 8% auto;
    border-radius: 15px;
    text-align: center;
    border: solid 3px rgb(48, 48, 48);

}

#about_myself_text {
    width: 60%;
    padding: 30px;
    color: white;
    border: solid #f0f0f0;
    border-radius: 10px;
    margin: 30px auto;
    font-size: 1.2rem;
    line-height: 1.8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

#about_myself_text:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

#about_myself_text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#about_myself_text p {
    font-size: 18px;
    line-height: 1.8;
    color: #f0f0f0;
    margin-bottom: 15px;
}
#mainText p, #altText p {
    font-size: 18px; /* Või vali sobiv suurus */
    line-height: 1.8;
}


#about_myself_image {
    width: 35%;
    padding: 20px;
}

#about_myself_image img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

#about_myself_image img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
    #about_myself {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    #about_myself_text {
        width: 100%;
        padding: 10px;
    }

    #about_myself_image {
        width: 80%;
        margin-top: 15px;
    }

    #about_myself_image img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    #about_myself_text h2 {
        font-size: 30px;
    }

    #about_myself_text p {
        font-size: 14px;
    }

    #about_myself_image {
        width: 80%;
        margin-top: 15px;
    }

    #about_myself_image img {
        width: 150px;
        height: 150px;
    }
}
