
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */


}
/* General Styles */
body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure body takes up the full viewport height */
    width: 100%;
    color: #e0e0e0; 
    background-color: #1e1e1e;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/*COMMENT*/
/* Background Image */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* Adjust to ensure it stays centered horizontally */
    width: 200%; 
    height: 100%;
    background-image: url('images/kivid.jpg');
    filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: translateX(-50%); /* Keep the image centered */
}





/* Container for the Projects heading */
.projects-heading {
    background-color: #2d2d2d; /* Dark background for the header */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Styling for the heading text */
.projects-heading h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.projects-heading h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Ruumi joonte ja teksti vahel */
}

.projects-heading h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Jooni paksus */
    background-color: #a1a1a1; /* Joone värv */
}




/* Footer */
#footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
}


/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    /* Ensure the footer stays at the bottom */
    #footer {
        position: relative;
        margin-top: 20px;
    }

}
/* Navigation Menu for Small Screens */
#myLinks {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

#myLinks.open {
    display: block;
}
